.content-update {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 11.5vh 0 0 9.5%;
    color: var(--cor-texto-escura);
    background-color: var(--cor-fundo-clara);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 77vh;
}

#container-update {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--cor-texto-escura);
    width: 35%;
    height: 15.6em;
    margin-right: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.content-update h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.content-update h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 50px;
}

.content-update h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 25px 0 25px 0;
    border-radius: 5px;
}

.content-update h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.content-update p {
    margin: 12px 0 12px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

#btn-update {
    display: flex;
    justify-content: center;
    transition: all .25s ease-in-out;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    height: 2.5em;
    min-width: 7em;
    width: 9em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    border: 2px solid var(--cor-texto-escura);
    box-shadow: 3px 3px 4px gray;
    align-items: center;
    margin-top: 10px;
    margin-left: 72%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
#btn-update:hover,
#btn-update:focus {
  background-color: var(--cor-secundaria);
  color: var(--cor-fundo-clara);
}


.notify-update {
    /* css da mensagem que aparece quando algum campo não é preenchido */
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: var(--cor-escura);
    margin-right: 18px;
    margin-top: 5px;
    text-align: end;
}

@media screen and (max-width: 1200px) {


}

@media screen and (max-width: 720px) {

  .content-update {
    margin-top: 18vh;
  }

}