@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Componentes footer */

.footer {
    display: flex;
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    height: 11.5vh;
}

#texto-footer {
    align-items: flex-end;
    margin: 10px 0 10px 0;
    background-color: var(--cor-secundaria);
}

.direitos-reservados {
    align-items: center;
    text-align: center;
    background-color: var(--cor-secundaria);
}

.footer ul {
    background-color: var(--cor-secundaria);
}

@media screen and (max-width: 1080px) {
    #texto-footer{
        text-align: center;
    }
}
