table {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}

table th { /* botões e referência ao glossário */
    border: 1px solid var(--cor-escura);
    padding: 5px;
    align-items: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-right: 4px;
}

.cabecalho{
    font-weight: 700;
}

.content #sub-titulos {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--cor-texto-escura);
}


.cardQuestion {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--cor-texto-escura);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: auto;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.cardQuestion2 {
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.cardQuestion #conteudo-card {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}

.cardQuestion h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardQuestion h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.cardQuestion h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.cardQuestion h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.cardQuestion p {
    margin: 24px 0 24px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: var(--cor-texto-escura);
}

#primeiraLinha{
    font-weight: bolder;
}

#colunaAvaliacao{
    text-align: left;
    width: 10em;
}

#colunaNumQuestao{
    text-align: center;
    width: 7em;
}

#colunaQuestao{
    text-align: left;
    width: 40em;
}

#colunaResposta{
    text-align: center;
    width: 6em;
}

#comentario{
    text-align: left;
    width: 20em;
}
