@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* cores a serem usadas no site */
:root { 
    --cor-escura: #005c6e;
    --cor-secundaria: #b42626;    
    --cor-fundo-clara: #f3f3f3;
    --cor-texto-escura: #333333;
}


.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-escura);
    background-color: var(--cor-fundo-clara);
    margin: 5.5% 0 0 9.5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 77vh;
    text-align: center;
    width: auto;
    height: auto;
}   

.content h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.content h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 50px;
}

.content h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.content h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.content p {
    margin: 12px 0 12px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}


#btn-voltar-avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .25s ease-in-out;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    padding: 0 2px;
    height: 2.5em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    box-shadow: 3px 3px 2px gray;
    margin-right: 15px;
    border: 2px solid var(--cor-texto-escura);
    margin-bottom: 20px;
  }
  
  input[type="button"]:hover,
  input[type="submit"]:hover,
  #btn-voltar-avaliacao:hover,
  #btn-voltar-avaliacao:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
  }

  
.cardGroup {
    grid-column: span 4;
    display:inline-flex;
    text-align: center;
    text-decoration: none;
    color: var(--cor-texto-escura);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 180px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


.menuitemcorpo {
    text-decoration: none;
    color: var(--cor-texto-escura);
}

.menuitemcorpo:hover {
    text-decoration: underline;
    color: var(--cor-secundaria);
}
