@import url("https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@400;700");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?sidebar.open=true&query=roboto+&selection.family=Roboto+Condensed:wght@300");
@import url("https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&query=Open+sans&selection.family=Open+Sans:wght@400;700");

:root { 
  --cor-primaria: #2bb8c9;
  --cor-escura: #005c6e;
  --cor-secundaria: #b42626;
  --cor-texto-claro: #f3f3f3;
  --cor-texto-escura: #333333;
}

.signinForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
  background: var(--cor-fundo-clara);
}

#container-login {
  text-align: end;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 2px var(--cor-texto-escura);
}

.login-titulo {
  font-size: 30px;
  margin: 30px 40px 30px 40px;
  font-family: 'Roboto Slab';
  font-weight: 700;
}

#login-email,
#login-password {
  /* css do texto dentro do input */
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 15px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
}

#login-cadastrar {
  /* css do botão cadastrar */
  transition: all .25s ease-in-out;
  letter-spacing: 0.07em;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 700;
  border-radius: 5px;
  min-width: 7em;
  height: 2.5em;
  padding: 4px 6.50px 7px 6.50px;
  color: var(--cor-texto-escura);
  background: var(--cor-fundo-clara);
  border: 2px solid var(--cor-texto-escura);
  box-shadow: 3px 3px 4px gray;
  margin-right: 15px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
#login-cadastrar:hover,
#login-cadastrar:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
}

#login-cadastrar:active {
  box-shadow: 1px 1px 2px darkgray;
  transform: translateY(3px);
}

#login-entrar {
  /* css do botão entrar */
  transition: all .25s ease-in-out;
  letter-spacing: 0.07em;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: 700;
  border-radius: 5px;
  min-width: 7em;
  height: 2.5em;
  color: var(--cor-texto-escura);
  background: var(--cor-fundo-clara);
  border: 2px solid var(--cor-texto-escura);
  box-shadow: 3px 3px 4px gray;
  margin-right: 15px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
#login-entrar:hover,
#login-entrar:focus {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
}

#login-entrar:active {
  box-shadow: 1px 1px 2px darkgray;
  transform: translateY(3px);
}

.forgot {
  /* css de hiperlink */
  text-align: end;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  color: var(--cor-texto-escura);
  margin-left: 15px;
  margin-right: 15px;
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 16px;
  text-decoration: none;
}

.forgot:link,
.forgot:link:visited,
.forgot:active {
  text-decoration: none;
  color: var(--cor-texto-escura);
}

.forgot:hover {
  color: var(--cor-secundaria);
  text-decoration: underline;
}

.notify {
  /* css da mensagem que aparece quando algum campo não é preenchido */
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 16px;
  text-decoration: none;
  color: var(--cor-texto-escura)
}

.content-login {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cor-texto-escura);
  margin: 3% 3% 3% -3%;
  font-family: 'Open Sans';
  font-weight: 400;
  border-right: 2px solid var(--cor-texto-escura);
  text-align: center;
}

.content-login h1 {
  color: var(--cor-escura);
  font-family: 'Roboto Slab';
  font-weight: 700;
  margin-bottom: 40px;
}

.content-login h3 {
  color: var(--cor-escura);
  font-family: 'Roboto Slab';
  font-weight: 700;
  margin-bottom: 40px;
}

.content-login p {
  margin: 16px 30px 16px;
  font-size: 16px;
}