@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


/* cores a serem usadas no site */
:root { 
    --cor-escura: #005c6e;
    --cor-secundaria: #b42626;    
    --cor-fundo-clara: #f3f3f3;
    --cor-texto-escura: #333333;
}

/* Componentes Header, footer e menu */

.hiden{
    display: none;
}

@media screen and (max-width: 980px) {

}

@media only screen and (max-device-height: 500px) {
    .menu {
        width: 5%;
        float: top;
        background-color: var(--cor-fundo-clara);
    }

    .menuitem {
        color: var(--cor-texto-escura);

    }

    .menu:hover {
        width: 50%;
        float: bottom;
        background-color: var(--cor-fundo-clara);
        color: var(--cor-secundaria);
        position: relative;
    }
}