@import url("https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@400;700");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?sidebar.open=true&query=roboto+&selection.family=Roboto+Condensed:wght@300");
@import url("https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&query=Open+sans&selection.family=Open+Sans:wght@400;700");


/* Componentes Header, footer e menu */

.hiden{
    display: none;
}

.header {
    background-color: #B20000;
    color: #f3f3f3;
    width: 100%;
    position: fixed;
    top: 0;
    height: 10%;
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.header .titulo-pesquisa {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    margin-right: 10px;
    border-radius: 5px;
}

.header .titulo-pesquisa #title {
    margin-right: 25%;
}

.menu {
    background-color: #B20000;
    color: #f3f3f3;
    position: fixed;
    width: 10%;
    height: 100vh;
    float: left;
    font-family: 'Roboto Condensed';
}

.menu ul li {
    list-style-type: none;

}

.footer {
    background-color: #B20000;
    color: #f3f3f3;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto Condensed';
    display: flex;
    justify-content: center;
}

.footer p {
    align-items: flex-end;
}

.direitos-reservados {
    align-items: center;
}

.menuitem {
    text-decoration: none;
    color: #f3f3f3;
}

.menuitem:hover {
    color: #f3f3f3;
    text-decoration: underline;
}

.botaoSair {
    position: relative;
    text-decoration: none;
    color: #f3f3f3;
    left: 48%;
    font-family: 'Roboto Condensed';
}

.botaoSair:hover {
    border: 1px #f3f3f3;
    color: #f3f3f3;
    text-decoration: underline;
}

/* ------------------------------------------------------------------------------------------- */

/* CSS do body das páginas */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333333;
    margin: 4.6% 0 3.3% 10%;
    min-height: 83.5vh;
    font-family: 'Open Sans';
    font-weight: 400;
    border-right: 2px solid #333333;
    text-align: center;
}

.content h1 {
    color: #005c6e;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 10px;
}

.content h2 {
    color: #005c6e;
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.content h3 {
    color: #005c6e;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 40px;
}
.content h4 {
    color: #005c6e;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 40px;
}

.content p {
    margin: 16px 30px 16px;
    font-size: 16px;
}

/* -------------------------------------------------------------------------------- */

/* CSS das páginas */

.cardGroup {
    grid-column: span 4;
    display:inline-flex;
    position: relative;
    text-decoration: none;
    color: #B20000;
    border: 2px solid #B20000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 20%;
    height: 10%;
    font-family: 'Roboto Slab';
    font-weight: 600;
}
.cardQuestion {
    text-decoration: none;
    color: #B20000;
    border: 2px solid #B20000;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 10%;
    font-family: 'Roboto Slab';
    font-weight: 600;
}
.table {
    border: 2px solid #B20000;
}


.menuitemcorpo {
    text-decoration: none;
    color: #B20000;
}

.menuitemcorpo:hover {
    text-decoration: underline;
    color: #005c6e;
}

table th { /* botões e referência ao glossário */
    border: 1px solid #f3f3f3;
    padding: 5px;
    align-items: center;
}

.entrada {
    color: #2bb8c9;
}

.definicao {
    color: #2bb8c9;
}

/* -------------------------------------------------------------------------- */

/* CSS de responsividade das páginas */

@media only screen and (max-device-height: 500px) {
    .menu {
        width: 5%;
        float: top;
        background-color: #f3f3f3;
    }

    .menuitem {
        color: black;

    }

    .menu:hover {
        width: 50%;
        float: bottom;
        background-color: #f3f3f3;
        color: black;
        position: relative;
    }
}