.content-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 11.5vh 0 0 9.5%;
    color: var(--cor-texto-escura);
    background-color: var(--cor-fundo-clara);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    min-height: 77vh;
}

.cardQuestion {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--cor-texto-escura);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    height: 15.6em;
    width: 35%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.cardQuestion2 {
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 15.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.cardQuestion #conteudo-card {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}

.cardQuestion h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardQuestion h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.cardQuestion h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.cardQuestion h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.cardQuestion p {
    margin: 24px 0 24px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: var(--cor-texto-escura);
}

#btn-questao {
    transition: all .25s ease-in-out;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    width: 10em;
    min-width: 7em;
    height: 2.5em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    box-shadow: 3px 3px 2px gray;
    margin-right: 10px;
    border: 2px solid var(--cor-texto-escura);
}
  
  input[type="button"]:hover,
  input[type="submit"]:hover,
  #btn-questao:hover,
  #btn-questao:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
  }
  
#btn-questao:active {
    box-shadow: 1px 1px 2px darkgray;
    transform: translateY(3px);
}

#btn-respostas {
    display: flex;
    justify-content: center;
    transition: all .25s ease-in-out;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    height: 2.11em;
    min-width: 5em;
    width: 10em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    border: 2px solid var(--cor-texto-escura);
    box-shadow: 3px 3px 2px gray;
    align-items: center;
    margin-right: 10px;
}
  
  input[type="button"]:hover,
  input[type="submit"]:hover,
  
#btn-respostas:hover,
#btn-respostas:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
}
  
#btn-respostas:active {
    box-shadow: 1px 1px 2px darkgray;
    transform: translateY(3px);
}

#btn-editar {
    transition: all .25s ease-in-out;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    width: 10em;
    min-width: 9em;
    height: 2.5em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    box-shadow: 3px 3px 2px gray;
    border: 2px solid var(--cor-texto-escura);
    margin-right: 5px;
}
  
  input[type="button"]:hover,
  input[type="submit"]:hover,
#btn-editar:hover,
#btn-editar:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
}
  
#btn-editar:active {
    box-shadow: 1px 1px 2px darkgray;
    transform: translateY(3px);
}

@media screen and (max-width: 1200px) {


  }
  
  @media screen and (max-width: 720px) {
  
    .content-panel {
      margin-top: 18vh;
    }
  
}
