.cardQuestion {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--cor-texto-escura);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: auto;
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
/* 
.cardQuestion2 {
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
} */

.cardQuestion #conteudo-card {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}

.cardQuestion h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardQuestion h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.cardQuestion h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.cardQuestion h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.cardQuestion p {
    margin: 24px 0 24px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: var(--cor-texto-escura);
}

form ul li{  
    display: inline-block;
    vertical-align: top;
    border-top: none;
    text-align: center;
    margin-top: 0;       
}

textarea{
    /* resize: none; */
    width: 35em;
    height: 5em;
}

#btn-salvar{
    transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.07em;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0 1em 0 1em;
  height: 2.5em;
  margin: 20px 15px 20px 0px; 
  color: var(--cor-texto-escura);
  background: var(--cor-fundo-clara);
  border: 2px solid var(--cor-texto-escura);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 3px 3px 2px gray;
}

input[type="button"]:hover,
input[type="submit"]:hover,
#btn-salvar:hover,
#btn-salvar:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-fundo-clara);
}

#btn-salvar:active{
    box-shadow: 1px 1px 2px darkgray;
    transform: translateY(3px);
}