@import url("https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@400;700");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?sidebar.open=true&query=roboto+&selection.family=Roboto+Condensed:wght@300");
@import url("https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&query=Open+sans&selection.family=Open+Sans:wght@400;700");


.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
  background: #ffffff;
}

#container-signUp {
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 3px #333333;
}

.signUp-titulo {
  font-size: 30px;
  margin: 30px 40px 30px 40px;
  font-family: 'Roboto Slab';
  font-weight: 700;
}

#signUp-fullName,
#signUp-email,
#signUp-password {
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 15px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
}

#signUp-botao {
  transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.07em;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0 1em 0 1em;
  height: 2.5em;
  margin: 10px 20px 30px 20px;
  color: #f3f3f3;
  background: #2bb8c9;
  font-family: 'Open Sans';
  font-weight: 700;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
.button:hover {
  background-color: #005c6e;
}

#signUp-checkbox {
  text-align: right;
  margin-bottom: 15px;
  color: #333333;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  font-family: 'Open Sans';
  text-decoration: none;
}