@import url("https://fonts.google.com/specimen/Roboto+Slab?sidebar.open=true&selection.family=Roboto+Slab:wght@400;700");
@import url("https://fonts.google.com/specimen/Roboto+Condensed?sidebar.open=true&query=roboto+&selection.family=Roboto+Condensed:wght@300");
@import url("https://fonts.google.com/specimen/Open+Sans?sidebar.open=true&query=Open+sans&selection.family=Open+Sans:wght@400;700");


:root { 
  --cor-escura: #005c6e;
  --cor-secundaria: #b42626;    
  --cor-fundo-clara: #f3f3f3;
  --cor-texto-escura: #333333;
}

.signUpForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.5s;
  background: var(--cor-fundo-clara);
}

#container-signUp {
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 3px var(--cor-texto-escura);
}

.signUp-titulo {
  font-size: 30px;
  margin: 30px 40px 30px 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--cor-escura);
}

#signUp-fullName,
#signUp-email
{
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
}

/* #divSenha{
  font-size: 16px;
  display: inline-block;
  justify-content: start;
  text-align: center;
} */

#signUp-password{
  overflow: hidden;
  margin-left: 25px;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  float: left;
  width: 75%;
}


#btn-senha{
  float: right;
  cursor: pointer;
  outline: unset;
  position: relative;
  background-color: var(--cor-secundaria);
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 0px 4px 4px 0px;
  color: var(--cor-fundo-clara);
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 25px;  
  box-shadow: 3px 3px 4px gray;
}

button:active{
  box-shadow: 1px 1px 2px darkgray;
  transform: translateY(3px);
}

svg{
  animation: fadeIn 0.3s forwards;
}

#botoes{
  text-align: right;
}

#signUp-botao {
  transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.07em;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0 1em 0 1em;
  height: 2.5em;
  margin: 20px 25px 20px 0px; 
  color: var(--cor-texto-escura);
  background: var(--cor-fundo-clara);
  border: 2px solid var(--cor-texto-escura);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 3px 3px 4px gray;
}

#logIn-botao{
  transition: all .25s ease-in-out;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.07em;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 0 1em 0 1em;
  height: 2.5em;
  min-width: 8.733em;
  margin: 20px 15px 20px 20px;
  color: var(--cor-texto-escura);
  background: var(--cor-fundo-clara);
  border: 2px solid var(--cor-texto-escura);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  box-shadow: 3px 3px 4px gray;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
#signUp-botao:hover {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
}

#logIn-botao:hover{
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-claro);
}

#signUp-botao:active{
  box-shadow: 1px 1px 2px darkgray;
  transform: translateY(3px);
}

#signUp-checkbox {                                                                              
  text-align: right;
  margin-bottom: 15px;
  color: var(--cor-texto-escura);
  margin-left: 25px;
  margin-right: 25px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
