.header {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
    width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    height: 11.5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-pesquisa {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
}

.header form {
    background-color: var(--cor-secundaria);
}

.pesquisa {
    margin-right: 8px;
    border-radius: 5px;
    width: 200px;
    height: 2.5em;
    border: rgba(255, 255, 255, 0.50);

}

.btn {
    border-radius: 5px;
    height: 2.5em;
    min-width: 7em;
    border: none;
    box-shadow: 3px 3px 4px gray;
    background-color: var(--cor-fundo-clara);
    color: var(--cor-texto-escura);
}

.icon-pesquisa {
    margin-right: 3px;
    height: 1.5em;
    width: 1.5em;
    background-color: var(--cor-secundaria);
}

.btn:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
    border: 2px solid var(--cor-texto-escura);
}

.titulo-pesquisa #title {
    margin-right: 25%;
    font-size: 32px;
    background-color: var(--cor-secundaria);
}

.botaoSair {
    position: relative;
    text-decoration: none;
    color: var(--cor-fundo-clara);
    left: 48%;
    font-family: 'Open Sans', sans-serif;
    transition: all .25s ease-in-out;
    background-color: var(--cor-secundaria);
}

.botaoSair:hover {
    border: 1px var(--cor-fundo-clara);
    color: var(--cor-fundo-clara);
    text-decoration: underline;
}


@media screen and (max-width: 1080px) {

    .titulo-pesquisa #title {
        margin-right: 50px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 720px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 18vh;
    }

    .titulo-pesquisa {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .titulo-pesquisa #title {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .botaoSair {
        margin-right: 10px;
    }

    .icon-pesquisa {
        display: none;
    }
}