.Cartoes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    /* margin-left: 5%; */
    justify-content: center;
    
}

.Cartao {
    border: 3px solid;
    overflow: hidden;
    width: 370px;
    height: 400px;
    border-radius: 10px;
    margin: 0px 45px 15px 0px;
}

.Conteudo {
    flex-grow: 1;
    background-color: var(--cor-fundo-clara);
    color: var(--cor-texto-escura);
    padding: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    background-color: var(--cor-fundo-clara);
}

.Conteudo ul {
    line-height: 15px;
    margin-left: 30%;
}

.Conteudo ul li {
    text-align: center;
    list-style: disc;
    border: none;
    margin: 0;
    padding: 10px 0;
    width: 150px;
}

.content-home {
    justify-items: center;
    margin: 11.5vh 0 0 11%;
    color: var(--cor-texto-escura);
    background-color: var(--cor-fundo-clara);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    min-height: 77vh;
}   

.content-home h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.content-home h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 50px;
}

.content-home h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

.content-home h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.content-home p {
    margin: 20px 0 10px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.Conteudo p {
    align-items: center;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1080px) {
    .Cartoes{   
        display: flex;
        flex-direction: column;
        align-content: center;
    }
   
    .Cartao{
        width: 80%;
        height: auto;
    }
}