.Cartoes {
    display: flex;
    flex-wrap: wrap;
}

.Cartao {
    border: 3px solid;
    overflow: hidden;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 45%;
    border-radius: 10px;
    margin: 0px 30px 0px 0px;
}

#Cartao1 {
    border: 3px solid;
    overflow: hidden;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    height: 45%;
    margin: 0 30px 0 0;
    line-height: 27px;
}

.Conteudo {
    flex-grow: 1;
    background-color: #fff;
    color: #333333;
    padding: 6px;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
}

.Conteudo ul {
    width: 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 32.5px;
    list-style: disc;
}

.Conteudo p {
    align-items: center;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

#Cartao1 p {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}