.Cartoes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-left: 55px;
}

.Cartao {
    border: 3px solid;
    overflow: hidden;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 395px;
    border-radius: 10px;
    margin: 0px 30px 0px 0px;
}

#Cartao1 {
    border: 3px solid;
    overflow: hidden;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    height: 395px;
    margin: 0 30px 0 0;
}

.Conteudo {
    flex-grow: 1;
    background-color: var(--cor-fundo-clara);
    color: var(--cor-texto-escura);
    padding: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    background-color: var(--cor-fundo-clara);
}

.Conteudo ul {
    width: 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 15px;
}

.Conteudo ul li {
    list-style: disc;
    border: none;
    margin: 0;
    padding: 10px 0;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 11.5vh 0 0 9.5%;
    color: var(--cor-texto-escura);
    background-color: var(--cor-fundo-clara);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    min-height: 77vh;
}   

.content-home h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.content-home h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-top: 50px;
}

.content-home h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 10px 0;
}

.content-home h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
}

.content-home p {
    margin: 10px 0 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.Conteudo p {
    align-items: center;
    margin: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

#Cartao1 p {
    margin-top: 0;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}