#home {
    background-color: var(--cor-fundo-clara);
}

.content-avaliacao { /* distribuicao dos cards */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 11.5vh 0 0 9.5%;
    transition: 0.5s;
    background: var(--cor-fundo-clara);
    width: auto;
    min-height: 77vh;
}

#nova-avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 20px;

}
#conteiner:hover {
    border: 2px solid var(--cor-secundaria);
    box-shadow: 3px 2px 5px var(--cor-secundaria);
    transition: 0.5s;
  }

#avaliacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#container-avaliacao { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--cor-texto-escura);
    width: 35%;
    height: 15.6em;
    margin-right: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#avaliacao-titulo,
#avaliacao-descricao {
    /* css do texto dentro do input */
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 15px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.notify-avaliacao {
    /* css da mensagem que aparece quando algum campo não é preenchido */
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: var(--cor-escura);
    margin-right: 18px;
    margin-top: 8px;
    text-align: end;
}

#container-avaliacao h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

#container-avaliacao h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 25px 0 25px 0;
    border-radius: 5px;
}

#container-avaliacao h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 25px 0 25px 0;
    border-radius: 5px;
}

#container-avaliacao h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#container-avaliacao p {
    margin: 12px 0 12px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.cardQuestion-avaliacao{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--cor-texto-escura);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    height: 15.6em;
    width: 420px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.cardQuestion-avaliacao:hover {
    border: 2px solid var(--cor-secundaria);
    box-shadow: 3px 2px 5px var(--cor-secundaria);
    transition: 0.5s;
  }

.cardQuestion2 {
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-texto-escura);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 90%;
    height: 10%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.cardQuestion-avaliacao #conteudo-card {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: end;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}

.cardQuestion-avaliacao h1 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.cardQuestion-avaliacao h2 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.cardQuestion-avaliacao h3 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 30px 0 30px 0;
}

.cardQuestion-avaliacao h4 {
    color: var(--cor-escura);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.cardQuestion-avaliacao p {
    margin: 24px 0 24px 0;
    font-size: 16px;
    text-align: center;
    align-items: center;
    color: var(--cor-texto-escura);
}

/* botoes */

#criar-avaliacao {
    transition: all .25s ease-in-out;
    letter-spacing: 0.07em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    min-width: 9em;
    height: 2.5em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    box-shadow: 3px 3px 2px gray;
    margin: 0 5px 0 0;
    border: 2px solid var(--cor-texto-escura);
    margin-left: 72.5%;
}
  
  input[type="button"]:hover,
  input[type="submit"]:hover,
  #criar-avaliacao:hover,
  #criar-avaliacao:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-fundo-clara);
  }
  
#criar-avaliacao:active {
    box-shadow: 1px 1px 2px darkgray;
    transform: translateY(3px);
}

#btn-avaliacao {
    justify-content: end;
    display: flex;
    justify-content: center;
    transition: all .25s ease-in-out;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    height: 2.05em;
    min-width: 9em;
    width: 9em;
    color: var(--cor-texto-escura);
    background: var(--cor-fundo-clara);
    border: 2px solid var(--cor-texto-escura);
    box-shadow: 3px 3px 4px gray;
    align-items: center;
    margin-top: 50.5px;
    margin-left: 63%;
}

input[type="button"]:hover,
input[type="submit"]:hover,
#btn-avaliacao:hover,
#btn-avaliacao:focus {
  background-color: var(--cor-secundaria);
  color: var(--cor-fundo-clara);
}

